.presentacion{
    width: auto;
    height:auto;
    background-image: url(./plaza3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;


}
.img{
    width: auto;
    height:auto;
    background-image: url(./plazaPrimaveras.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main{

    width: auto;
    height: 500px;
}

.title__plaza{
    font-weight: bold;
    color: #5c3332;
}

.Descripton__text{
    font-weight: bold;
    color: #5c3332;

}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
