.page__body{
    background-image: url(/primavera.jpg);
}

.img__plaza {
  
    height: 100%;
    width: auto;
}
.img__local {
   
    height: 100%;
    width: auto;
}

.page__store{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.header{
    align-items: center;
    justify-content: center;
    height: 500px;
    width: auto;
    border-left: 5px solid black;
    border-top: 5px solid black;
    border-right: 1px solid black;
    border-bottom: 5px solid black;
}

.element{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 0 0 0 0;
}

.descripcion__image{
    align-items: center;
    justify-content: center;
    height: 500px;
    width: auto;
    border-left: 1px solid black;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}


.hero{
    width: 100%;
    height: 50px;

}

.element h1{
    width: 100%;
    background-color:#4DCCE8;
    font: bold;
    margin-bottom: 0px;
    padding-left: 400px;
}

.page__info{
    width: 100%;
    height: 500px;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding-left: 350px;
    padding-top: 30px;
    height: auto;
}

.element__info{
    display: flex;
    flex-direction: row;
    height: 325px;
    background-color: white;
}

.text__horarios{
    background-color: white;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-left: 25px;
    height: auto;
}
.text__horarios h3{
    font-weight: bold;
}

.hora__part1{
    padding-top: 15px;
    background-color: white;
    padding-left: 50px;
    height: auto;
}
.hora__part1 p{
    color: orange;
   font-weight: bold;
}
.hora__part2{
    padding-top: 15px;
    background-color: white;
    padding-left:5px ;
    height: auto;
}
.hora__part2 p{
    color: orange;
    font-weight: bold;
}
.page__info h5{
    font-weight: bold;
}